* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.flex {
    width: 100%;
    height: 100%;
    font-family: Roboto-Regular;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
}

.t2-left, .t2-right {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.t2-l, .t2-r {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.t2-l label, .t2-r label {
    display: block;
    margin-bottom: 5px;
}

.t2-r input, .t2-l input {
    width: 100%;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 13);
    border-radius: 4px;
    color: azure;
}

.t2-left input:hover, .t2-right input:hover {
    background-color: rgb(31, 63, 34); 
}

.button {
    font-family: Roboto-Regular;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: aliceblue;
    background-color: transparent;
    border: none;
    outline: solid 5px rgb(0, 255, 13);
}

button:hover {
    background-color: rgb(31, 63, 34);
}

.tabela th {
    width: 100px;
    height: 30px;
    outline: 1px solid green;
}

.tabela tr {
    height: 40px;
    text-align: center;
}

.enviados tr:hover {
    background-color: rgb(0, 255, 13, 0.2);
}

.tabela {
    position: absolute;
    margin: 0 auto;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabela table .enviados {
    outline: 1px solid green;
}

.footer-cell {
    width: 100px;
    color: aqua;
}
